body {
    margin: 0;
    overflow: hidden;
}

canvas.webgl {
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #00008b; /* Dark blue color */
}

::-webkit-scrollbar-track {
    background: #2a0d45; /* Same color as the canvas background */
}
